.component-search-input {
    border-bottom: 2px solid #ccc;
    margin-top: 20px;
  }
  
  .component-search-input > div {
    margin: 0 10px 10px 10px;
  }
  
  .component-search-input input {
    border-radius: 6px;
    border: 2px solid #bbb;
    box-sizing: border-box;
    font-size: 18px;
    padding: 10px 8px;
    width: 100%;
  }